#div1 {
  text-align: center;
  height: 110px;
  width: 1536px;
  background-color: rgb(2, 33, 68);
  color: rgb(46, 108, 230);
  font-size: 30px;
}

#div1 h4 {
  font-size: 40px;
  margin-right: 550px;
  padding-top: 23px;
  font-weight: 600;
}

#div1 img {
  margin-left: 580px;
  margin-top: 23px;
}

#opbtn {
  background-color: rgb(6, 60, 122);
  border-color: rgb(1, 13, 63);
  color: rgb(255, 255, 255);
  font-family: Poppins, sans-serif;
  font-weight: 600;
  color: #fff;
  padding: 10px 12px;
  height: 37px;
  width: 160px;
  margin-left: 30px;
  border-radius: 10px;
}

#submit {
  background-color: rgb(45, 158, 60);
  border-color: #043602;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  color: #fff;
  color: rgb(255, 255, 255);
  height: 34px;
  width: 110px;
  margin-left: 15px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
}

input[type="text"] {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  padding: 8px 10px;
  text-align: center;
  border-radius: 10px;
  border-color: #003f8c;
  font-weight: bold;
  height: 35px;
  font-size: 12px;
  margin-left: 15px;
}

input[type="number"] {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  padding: 8px 10px;
  text-align: center;
  border-radius: 10px;
  border-color: #003f8c;
  font-weight: bold;
  height: 35px;
  font-size: 12px;
  margin-left: 15px;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 650px;
  background-color: rgb(0, 255, 255);
  /*background: url("bg-img.jpeg") no-repeat center center fixed;*/
  background-size: cover;
  /* height: 100%; Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.rows:after {
  content: "";
  display: table;
  clear: both;
}

#op {
  border: 2px solid white;
  padding: 10px 20px;
  margin-top: 10px;
  margin: auto;
  margin-right: 15px;
  height: 83%;
  background-color: white;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  overflow: scroll;
  border-radius: 10px;
  text-align: left;
  word-wrap: inherit;
  font-weight: bold;
}

#list {
  margin-left: 15px;
  margin-top: 8px;
}

#out {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-top: 10px;
}

#option {
  margin-top: 15px;
}

body {
  position: fixed;
}
