#div1 {
  text-align: center;
  height: 110px;
  background-color: rgb(2, 33, 68);
  color: rgb(36, 150, 237);
  font-size: 30px;
}

#div1 h4 {
  font-size: 40px;
  margin-right: 550px;
  padding-top: 20px;
  font-weight: 600;
}

#div1 img {
  margin-left: 550px;
  margin-top: 25px;
}

#opbtn {
  background-color: rgb(2, 33, 68);
  border-color: #003f8c;
  color: rgb(255, 255, 255);
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: #fff;
  padding: 10px 12px;
  height: 50px;
  width: 150px;
  margin-left: 30px;
}

#submit {
  background-color: rgb(2, 33, 68);
  border-color: #003f8c;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: #fff;
  color: rgb(255, 255, 255);
  height: 40px;
  width: 130px;
  margin-left: 15px;
  color: rgb(255, 255, 255);
}

input[type="text"] {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  padding: 8px 10px;
  text-align: center;
  border-radius: 10px;
  border-color: #003f8c;
  font-weight: bold;
  height: 50px;
  font-size: 12px;
  margin-left: 15px;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 612px;
  background-color: rgb(0, 255, 255);
  /*background: url("bg-img.jpeg") no-repeat center center fixed;*/
  background-size: cover;
  /* height: 100%; Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.rows:after {
  content: "";
  display: table;
  clear: both;
}

#op {
  border: 2px solid white;
  padding: 10px 20px;
  margin: auto;
  margin-right: 15px;
  height: 87%;
  background-color: white;
  font-size: 12px;
  overflow: scroll;
  border-radius: 10px;
  text-align: left;
  word-wrap: inherit;
}

#list {
  margin-left: 15px;
}

#out {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

#option {
  margin-top: 15px;
}

body {
  position: fixed;
}
